* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: #020516;
  height: 50%;
}
header {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  font-family: sans-serif;
  z-index: 2;
}
hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #02000a;
  opacity: 0.99;
}
#logo {
  line-height: 60px;
  margin-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #f48c06; /* official orange*/
}
#logo:hover {
  color: #eef9ff; /* white */
}
#logo-s {
  color: #eef9ff; /* white */
  margin-left: 5px;
}
#logo:hover #logo-s {
  color: #f48c06; /* official orange*/
}
.sign {
  float: right;
  font-size: 80%;
  line-height: 60px;
  margin-right: 40px;
}
.sign a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.profile {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 6px 15px;
}
.sign a:hover {
  color: #f48c06;
  border-color: #f48c06;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  top: 50px;
  position: absolute;
  font-size: 15px;
  color: #eef9ff;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 2px;
  min-width: 100px;
  font-family: sans-serif;
  padding: 0px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  line-height: 30px;
  color: white;
}
.sidebar {
  height: 70%;
  width: 0;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 0;
  background: rgba(231, 157, 64, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-size: 20%;
}

.sidebar a {
  padding: 8px 20px 8px 32px;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f48c06;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: transparent;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/* 2 */
.slider {
  position: relative;
  width: 100%;
  background: #03071e;
}
.myslide {
  height: 655px;
  display: none;
  overflow: hidden;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  transition: 0.1s;
  user-select: none;
}
.prev:hover,
.next:hover {
  color: #f48c06;
}
.next {
  right: 0;
}
.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}
.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid #e85d04;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
/* /2 */
/* javascript */
.active,
.dot:hover {
  color: #d00000;
  border-color: #d00000;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/* 3 */
.txt {
  position: absolute;
  color: #fff;
  letter-spacing: 2px;
  line-height: 25px;
  top: 30%;
  left: 15%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
}
@-webkit-keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}
@keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}
.txt h1 {
  color: #e85d04;
  font-size: 50px;
  font-family: sans-serif;
  margin-bottom: 20px;
  text-shadow: 0px -1px 4px rgba(0, 0, 0, 0.55);
}
.txt p {
  width: 100%;
  font-size: 20px;
  text-shadow: 0px -1px 4px rgba(0, 0, 0, 0.55);
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}
.playbtn {
  color: black;
  background-color: #f48c06;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: 0px;
  border-radius: 5px;
  width: 25%;
}
.morebtn {
  color: #97908b;
  height: 40px;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: 0px;
  opacity: 0.9;
  border-radius: 5px;
  width: 40%;
}
.playbtn:hover,
.morebtn:hover {
  opacity: 0.7;
}
/* /3 */

/* 4 */
.slideimg {
  transform: scale(1.5, 1.5);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}
@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

/*Small Features with FLex*/
.cemetery {
  position: absolute;
  font-size: 125%;
  flex-direction: row;
  width: 100%;
  height: 120%;
  display: block;
  margin-top: 25px;
  text-shadow: 0px 4px 10px 2px gray;
}
.cemetery2 {
  position: absolute;
  font-size: 100%;
  width: 100%;
  height: 70%;
  flex-wrap: nowrap;
  flex-direction: row;
  text-shadow: 0px 4px 10px 2px gray;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.casket {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 0px;
  flex-wrap: nowrap;
  align-content: flex-start;
  text-align: center;
  justify-content: center;
  gap: 2px;
  box-shadow: 5px -21px 67px 5px rgba(0, 0, 0, 1);
}
.casket2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 180px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: left;
  justify-content: center;
  gap: 2px;
  box-shadow: 5px -21px 67px 5px rgba(0, 0, 0, 1);
}
.lineups {
  align-content: flex-start;
  width: 20%;
  height: 170px;
  padding-bottom: 0px;
  margin: 0px 3px 3px 5px;
  background: rgba(36, 34, 34, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
}
.lineups2 {
  align-content: flex-start;
  width: 18%;
  height: 95%;
  margin: 0px 10px 20px 10px;
  background: rgba(36, 34, 34, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
}
img {
  width: 100%;
  height: 70%;
  border-radius: 2px;
}
.zoomin .lineups {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.zoomin .lineups2 {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.lineups-content {
  text-align: left;
  color: white;
  margin: 10px 20px;
  font-size: 80%;
  padding: 5px;
  border-left: 2px solid#E85D04;
}
.lineups:hover {
  height: 105%;
  margin: 2px;
  justify-content: center;
  display: block;
  border-radius: 5px;
}
.lineups2:hover {
  height: 100%;
  margin: 2px;
  justify-content: center;
  display: block;
  border-radius: 5px;
}
@media (max-width: 950px) {
  .lineups-content {
    line-height: 14px;
    font-size: 15px;
  }
  .lineups,
  .lineups2 {
    height: 95%;
  }
}
/*Responsiveness in Tablet*/
@media screen and (max-width: 800px) {
  .myslide {
    height: 500px;
  }
  .txt {
    letter-spacing: 2px;
    line-height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
  }
  @-webkit-keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }
  @keyframes posi2 {
    from {
      top: 35%;
    }
    to {
      top: 50%;
    }
  }
  .txt h1 {
    font-size: 20px;
  }
  .txt p {
    font-size: 13px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .lineups-content {
    font-size: 50%;
  }
  .box {
    flex: 50%;
  }
}
@media screen and (max-width: 640px) {
  .lineups-content {
    line-height: 14px;
    font-size: 9px;
  }
  .myslide {
    height: 300px;
  }
  .txt p {
    font-size: 7px;
    line-height: 10px;
    margin-bottom: 5px;
    width: 50%;
  }
  .txt p {
    font-size: 5px;
    line-height: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}
/*responsiveness in smaller machine*/
@media screen and (max-width: 520px) {
  .txt h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sign {
    margin-right: 5px;
  }
  .sign a {
    font-size: 8px;
  }
  .txt p {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  .playbtn,
  .morebtn {
    font-size: 10px;
  }
  .lineups {
    height: 50%;
  }
  .cemetery,
  .cemetery2 h1 {
    font-size: 80%;
  }
  .dot {
    width: 10px;
    height: 10px;
    bottom: 50px;
  }
  .myslide {
    height: 300px;
  }
}
/*responsiveness in smallest machine*/
@media screen and (max-width: 450px) {
  .casket {
    margin-top: 0;
  }
  .myslide {
    height: 200px;
  }
  .txt h1 {
    font-size: 10px;
    margin-bottom: 2px;
  }
  .txt p {
    font-size: 8px;
    line-height: 5px;
    margin-bottom: 0px;
    width: 100%;
  }
  .playbtn,
  .morebtn {
    font-size: 7spx;
    height: 20px;
  }
  .cemetery h1 {
    visibility: hidden;
  }
  .casket {
    visibility: hidden;
  }
  .casket2 {
    height: 200px;
  }
  .lineups-content {
    line-height: 10px;
    font-size: 20px;
  }
  .lineups2 {
    width: 300%;
    height: 105%;
    margin-right: 10px;
  }
}
