html,body{
   padding: 0; 
   margin: 0;
}

.main{
    display: flexbox;
}

.text-category{
    margin: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.details-category{
/* width: 100%; */
margin: 0;
padding: 0;
display: flex;
flex-flow: row wrap;
}

.sub-category{
    height: auto;
    width: 200px;
    margin: 10px;
}

.details{
    width: 200px;
}

.details img{
    height: 100px;
    width: 200px;
}

/* Hover effects */
.details:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all .4s;
    padding: 10px;
}